dhbw-csharp/FleetManagement/FleetManager/FleetManager/ServerHost/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FleetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFleetService_CanUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CanUserLogin" />
  </wsdl:message>
  <wsdl:message name="IFleetService_CanUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IFleetService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IFleetService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetService_GetAllBusinessUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessUnits" />
  </wsdl:message>
  <wsdl:message name="IFleetService_GetAllBusinessUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IFleetService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFleetService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IFleetService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IFleetService">
    <wsdl:operation name="CanUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/CanUserLogin" message="tns:IFleetService_CanUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/CanUserLoginResponse" message="tns:IFleetService_CanUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/ChangePassword" message="tns:IFleetService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/ChangePasswordResponse" message="tns:IFleetService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/getAllUsers" message="tns:IFleetService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/getAllUsersResponse" message="tns:IFleetService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/GetAllBusinessUnits" message="tns:IFleetService_GetAllBusinessUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/GetAllBusinessUnitsResponse" message="tns:IFleetService_GetAllBusinessUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/AddUser" message="tns:IFleetService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/AddUserResponse" message="tns:IFleetService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFleetService/DeleteUser" message="tns:IFleetService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFleetService/DeleteUserResponse" message="tns:IFleetService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFleetService" type="tns:IFleetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanUserLogin">
      <soap:operation soapAction="http://tempuri.org/IFleetService/CanUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IFleetService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IFleetService/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessUnits">
      <soap:operation soapAction="http://tempuri.org/IFleetService/GetAllBusinessUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IFleetService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IFleetService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FleetService">
    <wsdl:port name="BasicHttpBinding_IFleetService" binding="tns:BasicHttpBinding_IFleetService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/FleetService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>